*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
header{
    margin:0px;
    display:flex;
    flex-direction: column;
    height: 100vh;

}
.header{
    height: 50px;
    background-color:#ff0000;
}
.slider{
    flex:1;
    background-color: #00ff00;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display:flex; 
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height:inherit;
    background-position: center;
    background-size: cover;
}
.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    
}
.slider--control{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align:center;
    cursor:pointer;
    border-radius: 50%;
    background-color: #ffffff55;
    overflow: hidden;
}
